{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>
        Contact me :)
    </h1>
    <form action="{{ url_for('index') }}" method="post">
        <!-- csrf requires secret key to be set -->
        {{ form.csrf_token() }} 
        <div style="width: 50%">
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.company) }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.message) }}
            {{ wtf.form_field(form.submit) }}
        </div>
    </form>


{% endblock %}  