{% extends "project_base.html" %}
{% block content %}
    <!-- Masthead -->
    <!-- <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">J. Bourret-Gheysen</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">A solution oriented creative developer.</h2>
                    <a class="btn btn-primary" href="#about">Get Started</a>
                </div>
            </div>
        </div>
    </header> -->

    <!-- Projects-->
    <section class="projects-section-gamedev bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/GameDevMain.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Hyde park B.I.A. boat racing</h4>
                                <p class="mb-0 text-white-50" id="justified-p">A 3D boat racing game created in the summer of 2021 for the Hyde Park Business Improvement Association's (BIA’s) annual Pond Festival. The game was made in a low-poly style using the Godot game engine, and blender 3D modeling software. The intention of the game was to provided players the opportunity to compete for real life prizes given out by the Hyde Park BIA during Pondfest in a fun and engaging way for the younger participants of the festival. </p>
                                <p id="navbar-home" font-style:italic><a href="{{ url_for('hyde_park_boating') }}">click to learn more and see game play videos</a></p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><video  controls preload="auto" muted width="100%" src="static/assets/video/CellularPlaythrough.mp4" ></video></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Games of Life</h4>
                                <p class="mb-0 text-white-50" id="justified-p"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Three Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><video  controls preload="auto" muted width="100%" src="static/assets/video/AgeOfAsparagus(720).mp4" ></video></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">3D Point and Shoot Demo</h4>
                                <p class="mb-0 text-white-50" id="justified-p">A small 3D point and shoot game demo built in the Godot game engine. This game incorporates a level generation tool and NPC spawning tool. The demo is based on the tutorial series by youtuber AgeofAsparagus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Four Row-->
            <!-- <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/demo-image-01.jpg" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">2D RPG Demo</h4>
                                <p class="mb-0 text-white-50">A 2D top down pixel art RPG demo built in the Godot game engine. This demo is based on the tutorial series from youtuber 'HeartBeast'</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

{% endblock %}
