{% extends "project_base.html" %}
{% block content %}
    <!-- Masthead -->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <script>
                    $(window).load(function () {
                    //normally you'd wait for document.ready, but you'd likely to want to wait
                    //for images to load in case they reflow the page
                    $('body').delay(1000) //wait 5 seconds
                        .animate({
                            //animate jQuery's custom "scrollTop" style
                            //grab the value as the offset of #second from the top of the page
                            'scrollTop': $('#projects').offset().top
                        }, 300); //animate over 300ms, change this to however long you want it to animate for
                    });
                </script>
                <div class="text-center">
                    <!-- <h1 class="mx-auto my-0 text-uppercase">Hyde Park Boating</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">A 3D boat web browser boat racing game.</h2> -->
                    <a class="btn btn-primary" href="#projects">Learn More</a>
                </div>
            </div>
        </div>
        <image id="background-image" src="static/assets/HPBoating/HPBoatingMain.png"></image>
        <!-- <video id="background-video" autoplay muted loop src="static/assets/HPBoating/levelBlenderGen.mp4" ></video> -->
    </header>

    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Main Description -->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="simple-padding-lr">
                    <h3>Hyde Park B.I.A. Sailboat Racing</h4>
                    <p id="justified-p">A 3D boat racing game created in the summer of 2021 for the Hyde Park Business Improvement Association's (BIA’s) annual Pond Festival. The game was made in a low-poly style using the Godot game engine, and blender 3D modeling software. The intention of the game was to provided players the opportunity to compete for real life prizes given out by the Hyde Park BIA during Pondfest in a fun and engaging way for the younger participants of the festival.</p>
                    <p id="justified-p">Scores and login information were recorded in a live leaderboard using Silent Wolf’s backend services add-on. The games initial dialog and story set up was done by modifying the Dialogic dialog add-on. Within each level there are billboards that display advertisements for a number of local businesses that belong to the BIA in a randomized order.</p>
                </div>
                <div class="simple-padding-lrb">
                    <video  controls preload="auto" muted="false" width="100%" src="static/assets/HPBoating/HPBoating(720p.23.9fps).mp4" ></video>
                </div>
            </div>
            <!-- Project One Row
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                
            </div> -->
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <!-- <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/demo-image-02.jpg" alt="..." /></div> -->
                <div class="col-lg-6"><video  controls preload="auto" muted width="100%" src="static/assets/HPBoating/levelBlenderGen.mp4" ></video></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Modelled Based on Real Location</h4>
                                <p class="mb-0 text-white-50" id="justified-p">The main level for the game was modeled directly off of google maps satellite view of the Hyde Park pond. The Pondfest was always held in person until COVID-19 forced the event to move online. Mimicking the real pond and park was a way to help people feel like they are at a familiar location.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Three Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="static/assets/HPBoating/TinyRhinoProjectSize.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Tiny Rhino Games</h4>
                                <p class="mb-0 text-white-50" id="justified-p">This was the first game was released under my newly created Tiny Rhino Games brand. In the future I plan to release some fun games for mobile.</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-center">
                    <br>
                    <a class="btn btn-primary" href="{{ url_for('index')}}#projects">Project Categories</a>
                    <a class="btn btn-primary" href="{{ url_for('game_development')}}#projects">Game Dev Projects</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
